.view-container {
    width: 100vw;
    height: 80vh;
    position: relative;
    top: 2vh;

    .view-actions {
        width: auto;
        height: 10%;
        margin-left: 1%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        #outlined-basic {
            width: 272px;
        }
    }

    .view-details {
        width: 98%;
        height: 90%;
        margin: 0 1%;
        display: flex;
    }
}