.forms-container {
    height: 80vh;
    width: 96vw;
    margin: 1vw 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .forms-text-field {
        margin: 7px;
        width: 300px;
    }

    .forms-submit-button {
        margin-top: 12px;
        margin-left: 120px;
    }
}